@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

.Header {
  max-height: 165gti pull oripx;
}

.header-wrapper {
  padding-top: 15px;
}

.header-wrapper,
.categorias {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 720px) {
  .Header {
    max-height: 260px;
  }

  .header-wrapper {
    flex-direction: column;
  }

  .categorias {
    overflow-x: scroll;
  }
}

.logo {
  max-width: 230px;
  cursor: pointer;
  margin-bottom: 10px;
}

.input-pesquisa {
  padding-left: 20px;
  width: 550px;
  height: 38px;
  border: 1px solid #ddd;
  margin: 0 10px;
  border-radius: 8px;
}

.input-pesquisa::placeholder {
  color: #999;
}

.button-pesquisa {
  margin-left: -45px;
  font-size: 1.2rem;
  color: #999;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.itens-cabecalho {
  padding: 20px 0;
}

.item-cabecalho {
  cursor: pointer;
}

.item-cabecalho i {
  color: #999;
  font-size: 1.5rem;
  margin: 1px 3px;
  transition: opacity 0.2s;
}

.item-cabecalho i:hover {
  opacity: 0.7;
}

.item-cabecalho span {
  text-transform: uppercase;
  transition: opacity 0.2s;
  color: #999;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: "Fjalla One", sans-serif;
}

.item-cabecalho span:hover {
  opacity: 0.7;
}

.item-cabecalho.cart {
  margin-left: 15px;
}

.item-cabecalho.cart span {
  font-size: 0.7rem;
  background-color: #ff8c00;
  color: #fff;
  border-radius: 100px;
  padding: 1px 3px;
  margin-left: -15px;
  position: relative;
  top: -15px;
}

.categoria-item {
  padding: 10px 5px;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 12px;
  color: rgb(153, 153, 153);
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.categoria-item:hover {
  color: #ff8c00;
}

.categoria-item:last-child {
  border-right: 0;
}

/* BENEFICIOS */

.Beneficios {
  padding: 25px 0;
}

.advantages {
  display: flex;
  justify-content: space-around;
}

.box {
  align-items: center;
}

.Beneficios i {
  color: #666666;
  padding-right: 5px;
}

.Beneficios span {
  color: rgb(102, 102, 102);
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}

/* PRODUTOS */

.Produtos-Pagina-Inicial {
  margin: 30px auto;
}

.Produtos-Pagina-Inicial > h2 {
  color: #222;
  font-size: 2rem;
  font-weight: bold;
}

.produto {
  cursor: pointer;
  margin: 10px;
  box-shadow: 0 0 4px #eee;
  flex-basis: calc(25% - 20px);
  padding: 15px;
  border-radius: 10px;
}

.produto:hover {
  box-shadow: 0 0 7px #ddd;
}

.produto-image {
  height: 250px;
}

.produto-title {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.produto-preco h2,
.produto-preco-promocao h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.produto-preco.produto-por h2 {
  font-size: 1.1rem;
  text-decoration: line-through;
  color: #777;
  margin: 0;
  padding: 0;
}

.produto-preco-parcelado h4 {
  color: #666;
  font-size: 0.95rem;
}

/* PAGINACAO */
.Paginacao {
  margin: 40px 0 80px;
}

.paginacao-item {
  border: 1px solid #ccc;
  padding: 3px 8px;
  border-radius: 5px;
  color: #474747;
  margin: 0 5px;
  cursor: pointer;
}

.paginacao-item.paginacao-item-active,
.paginacao-item:hover {
  color: #fefefe;
  background-color: #333;
  border: 1px solid #333;
}

/* PAGINA DE PRODUTOS */

.Produto-Hero {
  padding-top: 30px;
}

.Produto-Hero .titulo {
  font-size: 1.1rem;
  color: #222;
}

.Produto-Hero .titulo h2 {
  margin: 5px 0 0 0;
}

.Produto-Hero .categoria p {
  margin-top: 0;
  font-size: 0.87rem;
  color: #555;
}

.Produto-Hero .categoria-link {
  cursor: pointer;
  color: #ff8e45;
  font-weight: bold;
}

.Produto-Hero .preco-original,
.Produto-Hero .preco-promocao {
  font-size: 1.5rem;
  color: #434343;
  /* margin: 0; */
  margin: 5px 0;
}

.Produto-Hero .preco-original.preco-por {
  color:#999999;
  font-size: 0.87rem;
  font-weight: normal;
  text-decoration: line-through;
}

.Produto-Hero .preco-parcelado {
  margin: 0;
  color: #999999;
  font-size: 1rem;
  font-weight: normal;
}

.titleProductDetails {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  /* line-height: 24px; */
  letter-spacing: 0.05em;
  color: #999999;
}

.Produto-Hero .variacao-item-color {
  max-width: 45px;
  height: 45px;
  margin: 3px 5px 0 0;
  border: none;
  border: 0.3px solid #999999;
  box-sizing: border-box;
  cursor: pointer;

  margin-bottom: 12px;
}

.Produto-Hero .variacao-item-color-empty {
  max-width: 45px;
  height: 45px;
  margin: 3px 5px 0 0;
  border: none;
  opacity: 0.5;
  border: 0.3px solid #C4C4C4;
  box-sizing: border-box;
  cursor: not-allowed;
}

.Produto-Hero .variacao-item-size {
  max-width: 45px;
  height: 29px;
  margin: 3px 5px 0 0;
  border: 0.3px solid #6d6d6d;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 12px;

}

.Produto-Hero .variacao-item-size-empty {
  max-width: 45px;
  height: 29px;
  margin: 3px 5px 0 0;
  opacity: 0.7;
  border: 0.3px solid #C4C4C4;
  box-sizing: border-box;
  cursor: not-allowed;
}

.Produto-Hero .variacao-item-size span {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #111111;
}

.Produto-Hero .variacao-item-size-empty span {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.Produto-Hero .variacao:hover,
.Produto-Hero .variacao.variacao-active {
  background-color: #111111;
  border-color: #111111;
  color: #fff;
}

.Produto-Hero .opcao {

}

.Produto-Hero .opcao-tab {
  /* font-size: 0.9rem; */
  color: #444;
}

.Produto-Hero .opcao-input {
  max-width: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding: 3px 5px;
  margin: 3px 5px 30px 0;
  color: #111111;
}

.foto-principal {
  height: 500px;
}

.foto-principal img {
  max-width: 500px;
}

.mini-foto {
  padding-top: 10px;
  border: 0.3px solid rgb(236, 236, 236);
  max-width: 120px;
  margin: 0 0 0 30px;
  cursor: pointer;
  opacity: 0.8;
}

.mini-foto:hover {
  opacity: 1;
}

.Descricao {
  max-width: 800px;
}

.Descricao h2,
.Avaliacoes h2,
.Produtos-Relacionados h2 {
  color: #222;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.Avaliacoes,
.Produtos-Relacionados {
  margin-top: 30px;
}

.Produtos-Relacionados {
  margin-bottom: 50px;
}

.avaliacao {
  border: 1px solid #aaaa;
  box-shadow: 0 0 5px #aaaa;
  padding: 10px 15px;
  margin: 10px 20px 10px 0;
  border-radius: 15px;
}

.avaliacao i.fa-star {
  color: #f2c832;
  margin-right: 2px;
}

.avaliacoes-form {
  margin-top: 10px;
}

.avaliacoes-form h4 {
  color: #888;
  font-size: 1.2rem;
}

.avaliacoes-form label {
  font-size: 1rem;
  color: #474747;
  margin: 10px 10px 5px 0;
}

.avaliacoes-form select {
  font-size: 0.9rem;
  width: 120px;
}

.avaliacoes-form textarea {
  border-radius: 10px;
  border: 1px solid #aaa;
  padding: 10px;
  font-size: 0.9rem;
}

/* BOTAO */

.comprar {
  /* display: flex;
  gap: 5px; */
}

.btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #999;
  border-radius: 5px;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}

.btn-add {
  font-size: 1rem;
  background-color: #fff;
  color: #00a063;
  border: 1px solid #00a063;
}

.btn-success {
  background-color: #00a063;
  color: #fff;
  border: 1px solid #00a063;
}

.btn-primary {
  background-color: #ff8e45;
  color: #fff;
  border: 0;
}

.btn-cta {
  width: 90%;
  padding: 15px 25px;
  /* font-size: 0.9rem; */
  margin: 3px 0;
}

.btn-sm {
  font-size: 0.85rem;
  padding: 5px 8px;
  border-radius: 10px;
}

/* CARRINHO */

.Carrinho > h2 {
  font-size: 2rem;
}

.Carrinho .produto-image,
.checkout .produto-image {
  height: auto;
}

.Carrinho .produto-quantidade {
  font-size: 1rem;
  padding: 10px 15px;
  width: 60px;
  border: 1px solid #aaaa;
}

.Carrinho .fa-trash {
  color: #999;
  cursor: pointer;
}

.Carrinho .carrinho-item {
  margin: 10px 0;
  border-bottom: 1px solid #aaaa;
  padding-bottom: 10px;
}

.Carrinho .carrinho-item:last-child {
  border-bottom: 0;
}

.Carrinho .carrinho-cabecalho {
  background-color: #999;
  color: #fff;
}

.dados-do-carrinho-container {
  margin-top: 20px;
}

.dados-do-carrinho-item {
  padding: 10px 0;
  border-top: 1px solid #aaaa;
}

.Carrinho select {
  font-size: 1rem;
  padding: 5px 10px;
}

.Carrinho .valor-frete {
  margin: 0;
}

.Carrinho .limpar-CEP {
  color: #999;
  font-size: 0.85rem;
  cursor: pointer;
}

/* CHECKOUT */
.form-input {
  display: flex;
  flex-direction: column;
}

.form-check {
  flex-direction: row;
  align-items: center;
}

.form-input label {
  margin: 10px 0 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

.form-input .form-check label {
  margin: 0;
}

.form-input input {
  max-width: 400px;
  font-size: 1rem;
  padding: 5px 8px;
  margin: 0 5px 5px 0;
  border: 1px solid #aaaa;
  border-radius: 5px;
}

.checkout select {
  max-width: 300px;
  font-size: 1rem;
  margin: 0 5px 5px 0;
}

.checkout .slash-pagamento {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.checkout h2 {
  border-top: 1px solid #aaaa;
  margin-top: 80px;
  padding-top: 30px;
}

.checkout > h2 {
  border-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

/* MINHA CONTA */

.Acesso-Container {
  margin: 50px auto 10px;
  width: calc(100% - 20px);
  padding: 20px;
  max-width: 500px;
  border: 1px solid #aaaa;
  box-shadow: 0 0 7px #aaaa;
  border-radius: 10px;
}

.Acesso-Container .form-input input {
  max-width: 100%;
}

.Acesso-Container .link-acesso {
  margin-top: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  color: #0d3192;
}

.Acesso-Container .link-acesso:hover {
  text-decoration: underline;
}

.Pedidos-Container,
.Pedido-Container,
.Dados-Container,
.Senha-Container {
  margin-top: 30px !important;
}

.menu-lateral {
  border-top: 3px solid #ff9600;
  margin-top: 30px;
}

.menu-lateral-item {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid #aaaa;
  border-top: 0;
  cursor: pointer;
}

.menu-lateral-item-active,
.menu-lateral-item:hover {
  background-color: #111111;
  color: #fff;
}

.conteudo-area-cliente {
  margin: 10px 10px 10px 30px;
  box-shadow: 0 0 5px #cccc;
  padding: 20px;
  border-radius: 15px;
}

.menu-pedidos {
  background-color: #999;
  color: #fff;
}

.Pedido-Card {
  padding: 15px 0;
  border-bottom: 1px solid #aaa;
}

.menu-pedidos > div,
.Pedido-Card > div {
  padding: 0 10px;
}

.form-dados,
.form-dados input {
  max-width: 700px;
}

.textField {
  display: flex;
}

table.simples {
  border-collapse: collapse;
}

table.simples th,
table.simples td {
  padding: 10px 15px;
}

table.simples th {
  background-color: #ff8e45;
  color: #fff;
}

table.simples td {
  border-bottom: 1px solid #dddd;
}

.Status-Item {
  border-left: 3px solid rgb(1, 78, 1);
  border-bottom: 1px solid #dddd;
  padding: 5px 10px;
  margin: 3px 0;
  width: 90%;
}

/* ALERT */

.alert {
  margin: 10px 0;
  padding: 10px 15px;
  border: 2px solid #dddd;
  background-color: #eee;
  color: #555;
  font-size: 0.9rem;
  border-radius: 10px;
}

.alert-danger {
  border: 2px solid rgba(100, 0, 0);
  background-color: rgb(255, 190, 190);
  color: rgb(155, 0, 0);
}

/* RODAPÉ */

.Rodape {
  background: #111111;
  padding: 60px 0;
  color: #fff;
  margin-top: 100px;
}

.Rodape a {
  color: #ff9600;
}

.Rodape i.fa {
  color: #fff;
  font-size: 1.5rem;
  padding: 15px 0;
}

.Rodape h2 {
  font-size: 1.3rem;
  color: #ff9600;
  font-weight: bold;
}
